{% extends "base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}

{% block head_content %}


{% endblock head_content %}


{% block body_content %}

<div class="container back-text">
    <div class="container main">
        <h2><i class="fa-solid fa-door-open" style="color: #000000;"></i> Welcome to SYN Saga - Your Gateway to the Digital
          Frontier!</h2>
        <p class="text-dark">At SYN Saga, we are your trusted source for all things related to computer technology,
          innovation, and the digital world. Our mission is to empower tech enthusiasts, beginners, and experts alike with
          the knowledge and insights they need to navigate the ever-evolving landscape of computer technology.</p>
    
        <hr class="bg-dark">
    
        <h3><i class="fa-solid fa-location-dot fa-lg" style="color: #000000;"></i> What Makes SYN Saga Your Ultimate Tech
          Destination?</h3>
    
    
        <div class="row justify-content-center align-items-center mt-5 gap-3">
          <div class="col-md-5">
            <strong class="text-black">
              <i class="fa-solid fa-flask fa-lg"></i> Expert Insights: </strong>
            <p class="text-dark">Our team of tech-savvy writers and experts bring you the latest trends, in-depth
              reviews, and valuable insights into the world of computer technology. Whether you're a casual user or a
              seasoned pro, you'll find information tailored to your interests and skill level.</p>
          </div>
          <div class="col-md-5">
            <img src="{% static "images/expert.png" %}" class="image" alt="404 | Error - Image not found.">
          </div>
        </div>
        <hr class="mt-5">
        <div class="row justify-content-center align-items-center gap-3">
          <div class="col-md-5">
            <img src="{% static "images/hardware.png" %}" class="image" alt="404 | Error - Image not found.">
          </div>
          <div class="col-md-5">
            <strong class="text-black">
              <i class="fa-solid fa-comment fa-lg" style="color: #000000;"></i> Comprehensive Coverage: </strong>
            <p class="text-dark">From cutting-edge hardware and software to the latest gadgets, gaming, cybersecurity,
              and programming, we cover it all. Our articles span the entire tech spectrum, ensuring there's something
              for everyone.</p>
          </div>
        </div>
        <hr class="mt-5">
        <div class="row justify-content-center align-items-center gap-3">
          <div class="col-md-5"><strong class="text-black">
              <i class="fa-solid fa-clipboard-question fa-lg" style="color: #000000;"></i> How-Tos and Tutorials:</strong>
            <p class="text-dark">SYN Saga is not just about news and reviews. We're your go-to source for step-by-step
              guides and tutorials, helping you master new software, optimize your hardware, and solve common tech
              problems.</p>
          </div>
          <div class="col-md-5">
            <img src="{% static "images/tutorials.png" %}" class="image" alt="404 | Error - Image not found.">
          </div>
        </div>
        <hr class="mt-5">
        <div class="row justify-content-center align-items-center gap-3">
          <div class="col-md-5">
            <img src="{% static "images/community.png" %}" class="image" alt="404 | Error - Image not found.">
          </div>
          <div class="col-md-5"><strong class="text-black">
              <i class="fa-solid fa-quote-left fa-lg" style="color: #000000;"></i> Community and Interaction: </strong>
            <p class="text-dark">We're more than just a blog – we're a thriving community of tech enthusiasts. Join our
              forums, engage with fellow readers, and exchange ideas, tips, and solutions. We value your input and
              actively encourage discussion.</p>
          </div>
        </div>
        <hr class="mt-5">
        <div class="row justify-content-center align-items-center gap-3">
          <div class="col-md-5"><strong class="text-black">
              <i class="fa-solid fa-bell fa-lg" style="color: #000000;"></i> Stay Informed:</strong>
            <p class="text-dark">Subscribe to our newsletter to receive regular updates, tech alerts, and exclusive
              offers. We'll ensure you're always in the know about the latest advancements in the tech world</p>
          </div>
          <div class="col-md-5">
            <img src="{% static "images/notification.png" %}" class="image" alt="404 | Error - Image not found.">
          </div>
        </div>
    
        <h3>Explore Our Top Categories:</h3>
        <ul>
          <li>
            <strong class="text-black">Hardware Heaven:</strong>
            <p class="text-dark">Dive into the latest CPUs, GPUs, motherboards, and more. Stay ahead with our
              comprehensive reviews and buying guides.</p>
          </li>
          <li>
            <strong class="text-black">Software Spotlight:</strong>
            <p class="text-dark">Discover the best software for productivity, creativity, and entertainment. Learn how
              to get the most out of your favorite applications.</p>
          </li>
          <li>
            <strong class="text-black">Gaming Galore:</strong>
            <p class="text-dark">Whether you're a console gamer or a PC enthusiast, we've got the gaming news, reviews,
              and guides you need to level up your gaming experience.</p>
          </li>
          <li>
            <strong class="text-black">Cybersecurity Central:</strong>
            <p class="text-dark">Learn how to protect your digital life with our cybersecurity articles. Stay informed
              about the latest threats and how to combat them.</p>
          </li>
          <li>
            <strong class="text-black">Coding Corner:</strong>
            <p class="text-dark">Dive into the world of programming, web development, and app creation with our coding
              tutorials and insights.</p>
          </li>
        </ul>
        <hr class="bg-dark">
        <p class="text-dark">Join us at SYN Saga, where the future is now, and the possibilities are endless. Let's journey
          together through the realms of computer technology, one byte at a time. Stay connected, stay informed, and stay
          tech-savvy with SYN Saga!</p>
      </div>
    </div>
</div>

{% endblock body_content %}